html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    color: black;
    display: flex; /* This makes the body a flex container */
    flex-direction: column; /* Sets the flex container to have a vertical column layout. */
    min-height: 100vh; /* Ensures that the body takes up at least the full height of the viewport. */
    box-sizing: inherit;
}

.site-header {
    background-color: white;
    color: rgb(130, 129, 129);
    padding: 10px 0;
    margin: 0 auto;
    position:fixed;
    top: 0;
    width: 1600px;
    z-index: 1000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 120px;
    margin-right: 15px;
    width: 140px;
}

.logo h1 {
    margin:20px;
    font-size: 24px;
}

.logo p {
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-container form {
    display: flex;
    align-items: center;
    width: 100%;
}

#search-bar {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    flex-grow: 1;
    background-color: #f0f0f0;
}

#search-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 10px;
}

#search-button img {
    width: 20px;
    height: 20px;
}

#advance-button {
    border: none;
    background: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
}

.arrow {
    margin-left: 5px;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons button {
    margin-left: 10px;
    background-color: #2D5C88;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-buttons button a {
    color: white;
    text-decoration: none;
}

.auth-buttons button.login-button {
    background-color: #2D5C88; /* Primary blue */
}

.auth-buttons button.register-button {
    background-color: #557A9E; /* A lighter shade of blue */
}

.auth-buttons button.subscribe-button {
    background-color: #99BADD; /* Even lighter blue */
}

.auth-buttons button:hover {
    background-color: #1E3E5C; /* Darker blue for hover effect */
}

/* Dropdown Menu */
.menu-container {
    position: relative;
    display: inline-block;
}

.menu-button {
    background-color: #4D4D4D; /* Neutral grey to avoid too much blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-button i {
    margin-right: 5px;
}

.menu-button:hover {
    background-color: #333333; /* Darker grey for hover effect */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff; /* White for clean look */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #2D5C88; /* Primary blue for links */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.menu-container:hover .dropdown-content {
    display: block;
}

.form-container {
    max-width: 600px;
    margin: 150px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 10px;
}

.form-container input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    padding: 10px;
    background-color: #2D5C88;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pricing-options {
    display: flex;
    justify-content: space-around;
}

.pricing-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.pricing-card:hover {
    transform: scale(1.05);
}

.pricing-card h3 {
    margin-top: 0;
    color: #2D5C88;
}

.pricing-card p {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}

.pricing-card ul {
    list-style: none;
    padding: 0;
}

.pricing-card ul li {
    margin-bottom: 10px;
}

.contact-container {
    max-width: 600px;
    margin: 150px auto 50px; /* Adjust margin to ensure it's not under the fixed header */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form button {
    background-color: #2D5C88;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #1E3E5C;
}


/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
    .site-header {
        height: 90px; /* Further adjust header height for very small screens */
        width: 100%;
    }

    .logo img {
        height: 60px; /* Adjust logo size for smaller screens */
    }

    .container {
        padding: 0 10px; /* Adjust container padding */
    }

    .search-container {
        margin-left: 0px; /* Adjust margin for smaller screens */
    }

    .auth-buttons button {
        padding: 4px 7px; /* Adjust button padding */
    }

    .menu-button {
        padding: 4px 7px; /* Adjust menu button padding */
    }
}

.site-footer {
    background-color: #2D5C88;
    color: white;
    padding: 20px 0;
    text-align: left;
    margin-top: auto;
}

.site-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section p {
    margin: 0 0 10px;
    color: #ffffff;
}

.social-media {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-media li {
    margin-right: 10px;
}

.social-media li a {
    display: inline-block;
}

.social-media li a img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    background-color: #1E3E5C;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}



@media only screen and (max-width: 480px) {
    .site-header {
        height: 90px; /* Further adjust header height for very small screens */
        width: 100%;
    }

    .logo img {
        height: 90px; /* Further adjust logo size for very small screens */
    }

    .container {
        flex-direction: row; /* Stack items vertically */
        align-items: stretch;
    }

    .search-container {
        display: none;
    }

    .auth-buttons {
        flex-direction: row; /* Stack buttons vertically */
        align-items: stretch;
        display: flex;
        align-items: center;
    }

    .auth-buttons button {
        margin-left: 5px 10px; /* Adjust margin between buttons */
        padding: 2px 2px;

    }

    

    .menu-container {
        display: none; /* Ensure menu button displays properly */
        margin-top: 10px; /* Adjust margin */
    }

    .pricing-options {
        flex-direction: column; /* Stack pricing cards vertically */
        align-items: center;
    }

    .pricing-card {
        width: 80%; /* Make pricing cards take most of the screen width */
        margin: 10px 0; /* Adjust margin between cards */
    }

    .form-container button {
        margin-top: 50px;
    }

    .site-footer .container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin-bottom: 20px;
        padding: 0;
        text-align: center;
    }
}

/* iPad Portrait and smaller screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .site-header {
        height: 120px; /* Adjust header height */
        width: 100%;
    }

    .logo img {
        height: 80px; /* Adjust logo size */
    }

    .container {
        flex-direction: row;
        align-items: center;
    }

    .search-container {
        display: flex; /* Display search bar if needed */
    }

    .auth-buttons {
        flex-direction: row;
        align-items: center;
        display: flex;
    }

    .auth-buttons button {
        margin: 5px; /* Adjust margin between buttons */
        padding: 5px 10px; /* Adjust button padding */
    }

    .menu-container {
        display: flex; /* Display menu button */
        margin-top: 0; /* Adjust margin */
    }

    .pricing-options {
        flex-direction: row; /* Align pricing cards horizontally */
        justify-content: center;
    }

    .pricing-card {
        width: 45%; /* Adjust width of pricing cards */
        margin: 10px; /* Adjust margin between cards */
    }

    .form-container button {
        margin-top: 20px; /* Adjust button margin */
    }

    .site-footer .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-section {
        margin-bottom: 0;
        padding: 0;
        text-align: center;
    }
}

/* iPad Landscape and larger screens */
@media only screen and (min-width: 769px) and (max-width: 1180px) {
    .site-header {
        height: 150px;
        width: 100%;
    }

    .logo img {
        height: 100px;
    }

    .container {
        flex-direction: row;
        align-items: center;
    }

    .search-container {
        display: flex;
    }

    .auth-buttons {
        flex-direction: row;
        align-items: center;
    }

    .auth-buttons button {
        margin: 5px;
        padding: 10px 15px;
    }

    .menu-container {
        display: flex !important;
        z-index: 10;
    }

    .pricing-options {
        flex-direction: row;
        justify-content: space-between;
    }

    .pricing-card {
        width: 30%;
        margin: 15px;
    }

    .form-container button {
        margin-top: 15px;
    }

    .site-footer .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-section {
        margin-bottom: 0;
        text-align: center;
    }
}
