body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: white;
    color: rgb(130, 129, 129);
    padding: 10px 0;
    margin: 0 auto;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 130px;
    margin-right: 15px;
}

.logo h1 {
    margin:20px;
    font-size: 24px;
}

.logo p {
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
}

.search-container input{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    outline: none;
}

.search-container button {
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #2D5C88;
    color: white;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #1E3E5C;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons button {
    margin-left: 10px;
    background-color: #2D5C88;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.auth-buttons button a {
    color: white;
    text-decoration: none;
}

.auth-buttons button.login-button {
    background-color: #2D5C88; /* Primary blue */
}

.auth-buttons button.register-button {
    background-color: #557A9E; /* A lighter shade of blue */
}

.auth-buttons button.subscribe-button {
    background-color: #99BADD; /* Even lighter blue */
}

.auth-buttons button:hover {
    background-color: #1E3E5C; /* Darker blue for hover effect */
}